<header class="header">
    <div class="header__container">
        <div class="logo__container">
            <img class="logo" src="../assets/images/logo-adalab-80px.png" alt="Logo Adalab">
        </div>

        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item-blog"><a class="menu__link" href="https://medium.com/adalab">BLOG</a></li>
                <li class="menu__item-contact"><a class="menu__link" href="https://adalab.es/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</header>
