<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Evaluación final bis</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="body">
    <div class="page">
        <partial src="_header.html"></partial>
        <partial src="_main.html"></partial>
        <partial src="_footer.html"></partial>
    </div>
</body>
</html>
