.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #ffffff;
}

.header__container {
    width: 320px;
    height: 112px;
    margin: 10px auto 13px auto;
}

.logo__container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 154.5px;
    height: 60px;
}

.main {
    
}

.bg__photo {
    height: 100vh;
    background: url('../images/cover-photo.jpg') top center no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;

    padding-left: 20px;
}

.menu__list {
    padding: 0;
    color: #4a4a4a;

    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__item-blog {
    margin-right: 20.5px;
}

.main__title {
    font-family: Rubik;
    font-size: 30px;
    color: #ffffff;
}

.footer {
    height: 90px;
    background-color: #252525;
    color: #676a6d;

    display: flex;
    justify-content: center;
    align-items: center;
}